@page "/counter"
@using GestaoEstadoFluxor.Features.Counter.Store
@inherits FluxorComponent
@inject IDispatcher dispatcher
@inject IState<CounterState> counterState

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counterState.Value.CurrentCounte</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {    
    private void IncrementCount()
    {
        dispatcher.Dispatch(new IncrementCounter());
    }
}
